*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{ 
    height: 1000;
    width: auto;
    background-color: white;
}
.container{
    height: 1000;
    width: 1600;
}
.header{   
    width: 100%;
    display: grid;
    position: relative;
    height: 600px;
    color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.75)), url(./image/road.jpg);
    background-size:cover;
    background-repeat: no-repeats;
    overflow: hidden;
}
.navigation{
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    background-color: #000;

}
label.logo{
    font-size: 50px;
    margin-left: 20px;
    position: absolute;
    line-height: 80px;
    padding: 0, 100px;
    font-family: 'Orbitron', sans-serif;
}
nav ul{
    position: relative;
    float: right;
    margin-right: 230px;

}
nav ul li{
    line-height: 80px;
    display: inline-block;
    margin: 0;
    margin-right: 20px;
}
nav ul li a{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: rgba(255, 255, 0, 0.3);
    transition: 0.5s;
}
.checkbtn {
    color: #fff;
    position: relative;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.header img{
    padding: 20px;
    margin-left: 590px;
    margin-top: -310px;
    justify-self: baseline;
    float: initial;
}
.header h1{
    margin-left: 170px;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}
.header h2{
    margin-left: 230px;
    margin-top: 10px;
}
.section{
    height: 500px;
    width: 900;
   /* border: 2px dashed black;*/
}
.section h1{
    text-align: center;
    margin: 20px;
}
.Project{
    color: #000;
    display: flex;
    margin: 20px;
    
}
.Project .list{
    height: auto;
    width: 100%;
    margin: 20px;
    justify-content: center;
    text-align: center;
    box-shadow: 6px -6px 8px rgba(128, 128, 128, 0.23), -6px 6px 8px rgb(255, 255, 255, 0.3);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.Project .list img{
    height: 200px;
    width: 280px;
    margin: 20px;
}
.Project .icons{
    height: auto;
    width: 50%;
    margin: 20px;
    justify-content: center;
    text-align: center;
    box-shadow: 6px -6px 8px rgba(128, 128, 128, 0.23), -6px 6px 8px rgb(255, 255, 255, 0.3);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.Project .icons i{
    
    font-size: 70px;
    margin: 20px;
}
span.line{
    width: 1000px;
    height: 10px;
    background: #000;
    border: 2px solid#000;
    margin: 20px;
}

hr{
    width: 60%;
    height: 3px;
    margin: 30px;
    margin-left: 240px;
    background: black;
    border: none;
}
@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }
    .containe{
        margin: 0;
        padding: 0;
        width: 576px;
        height: auto;
    }
    .header{
        margin: 5px;
        padding: 0;
        width: auto;
        height:500px ;
        display: block;
        overflow: hidden;
        position: relative;
        color: #000;
        
    }
    .navigation{
        position: absolute;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 110px;
        background-color: #000;
        display: inline-block;
    }
    label.logo{
        font-size: 20px;
        position: relative;
        line-height: 80px;
        margin-left: 5px;
        padding: 0;
        color: #fff;
    }
   
    nav ul li a{
        font-size: 10px;
        
    }
    
    .checkbtn {
       display: none;
    }
    nav ul{
        margin: 0;
        position: absolute;
    }
    nav ul li{
        line-height: 30px;
        display: block;
        margin: 10px;
        margin-right: 20px;
        margin-top: -20px;
    }
    a.active,a:hover{
        background: none;
        color: rgba(255, 255, 0, 0.3);
        transition: 0.5s;
    }
    
    .header img{
        position: absolute;
        padding: 0;
        margin: 0;
        justify-self: baseline;
        height: 600px;
        width: 570px;
        margin-left: -100px;
        margin-top: -100px;
    }
    .header h1{
        margin-top: 30px;
        margin-left: 120px;
        padding: 0;
        width: 200px;
        height: auto;
        text-align: center;
        color: #fff;
        font-size: 40px;
    }
    .header h2{
        margin: 0;
        padding: 0;
    }
    .section{
        padding: 0;
        margin: 20px;
        display: grid;
        height: auto;
    }
    .section h1{
        margin: 0;
        padding: 0;

    }
    .Project{
      
        margin: 0;
        padding: 0;
        color: #000;
        display: grid;
        
    }
    .Project .list{
       padding: 0;
       margin: 20px;
       height: auto;
       width: 95%;
       box-shadow: 6px -6px 8px rgba(128, 128, 128, 0.23), -6px 6px 8px rgb(255, 255, 255, 0.3);
       border-top-left-radius: 30px;
       border-bottom-right-radius: 30px;
    }
    .Project .list img{
       padding: 0;
       margin: 10px;
    }
    span.line{
       padding: 0;
       margin: 0;
    }
    
    hr{
       padding: 0;
       margin: 20px;
       width: 60%;
       height: 3px;
       margin: 30px;
       margin-left: 120px;
      
    }
    .Project .icons{
        margin-left: 110px;
    }
    

}
